:root{
    --backdrop-colour: #18191c;
    --backbox-colour: #162940;
    --topbox-colour: #153152;

    --github-colour: #161b22;
    --spotify-colour: #1DB954;
    --youtube-red-colour: #ff2626;
    --youtube-black-colour: #282828;
    --gmail-colour: #DB4437;
    --paypal-colour: #0d56aa;
}
body{
    background-color: var(--backdrop-colour);
}

.div_box{
    background-color: var(--backbox-colour);
    width: 1000px;
    height: 250px;

    margin-top: 40px;
    margin-left: 40px;

    /* border-radius: 12.5px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.div_box_top-info{
    background-color: var(--backbox-colour);
    width: 140px;
    height: 25px;
    text-align: left;
    position: fixed;
    top: 15px;
    left: 48.25px;
    /* border-radius: 7px; */
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

    font-size: 14px;
}
.div_contact_box{
    background-color: var(--topbox-colour);
    width: 400px;
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;

    color: #ffffff;

    text-align: center;

    font-family: Quicksand;
}
.div_contact_box_description{
    background-color: var(--backdrop-colour);
    width: 75%;
    height: 250px;
    
    border-radius: 12.5px;
    /* position: absolute;
    top: 0;
    right: 0; */

    margin: auto;
    text-align: center;
    
    font-family: Quicksand;
}

.title{
    color: #ffffff;

    margin-top: 2%;
    margin-left: 1%;

    font-family: Quicksand;
}
.description{
    color: #ffffff;

    margin-top: 2%;
    margin-left: 1%;

    font-family: Quicksand;
}
.button{
    background-color: var(--backdrop-colour);
    color: #ffffff;
    border: 0;

    width: 90%;
    height: 75px;

    margin-top: 15px;

    text-align: center;
    font-family: Quicksand;
    font-size: 325%;

    border-radius: 12.5px;
}

#button1{
    background-color: var(--github-colour)
}
#button2{
    background-color: var(--spotify-colour)
}
#button3{
    background-color: var(--youtube-red-colour)
}
#button4{
    background-color: var(--gmail-colour);
}
#button5{
    background-color: var(--paypal-colour);
}

#title_contact{
    font-size: 325%;
}

#norway_flag{
    width: 16px;
}

#box2{
    width: 35%;
}
#box3{
    width: 35%;
}

/* #last-edited{
    position: absolute;
    top: 24%;
    right: 45%;
} */
.discordprofilepic{
    width: 50%;
    height: auto;

    margin-top: 13px;
    border-radius: 50%;

    /* outline: 3px solid var(--topbox-colour); */
}
.discordprofilename{
    font-size: 35px; 
}