:root{
    --backdrop-colour: #18191c;
    --backbox-colour: #162940;
    --topbox-colour: #153152;

    --github-colour: #171515;
    --spotify-colour: #1DB954;
    --youtube-colour: #FF0000;
}
body{
    background-color: var(--backdrop-colour);
}

.div_box{
    background-color: var(--backbox-colour);
    width: 1000px;
    height: 250px;

    margin-top: 40px;
    margin-left: 40px;

    border-radius: 12.5px;
}
.div_contact_box{
    background-color: var(--topbox-colour);
    width: 500px;
    height: 100%;
    
    position: absolute;
    top: 0;
    right: 0;

    color: #ffffff;

    text-align: center;

    font-family: Quicksand;
}
.div_contact_box_description{
    background-color: var(--backdrop-colour);
    width: 75%;
    height: 300px;
    
    border-radius: 12.5px;
    /* position: absolute;
    top: 0;
    right: 0; */

    margin: auto;
    text-align: center;
    
    font-family: Quicksand;
}

.title{
    color: #ffffff;

    margin-top: 2%;
    margin-left: 1%;

    font-family: Quicksand;
}
.description{
    color: #ffffff;

    margin-top: 2%;
    margin-left: 1%;

    font-family: Quicksand;
}
.button{
    background-color: var(--backdrop-colour);
    color: #ffffff;
    border: 0;

    width: 75%;
    height: 75px;

    margin-top: 15px;

    text-align: center;
    font-family: Quicksand;
    font-size: 325%;

    border-radius: 12.5px;
}

#button1{
    background-color: var(--github-colour)
}
#button2{
    background-color: var(--spotify-colour)
}
#button3{
    background-color: var(--youtube-colour)
}


.discordprofilepic{
    width: 50%;
    height: auto;

    margin-top: 13px;
    /* margin-bottom: 75px; */
    border-radius: 50%;
}
.discordprofilename{
    font-size: 35px; 
}